.h1{
    color: red;
    text-align: center;

}

/*Botão +*/
.btn1{
    margin: auto;
    padding: 40px, 32px;
    width: 50px;
    color: white;
    background-color: rgb(93, 199, 6);
    border: 1px solid cadetblue;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    
}

.btn1:hover{
    background-color: green;
    transition: background 1s;
}

/*Botão -*/
.btn2{
    margin: auto;
    padding: 40px, 32px;
    width: 50px;
    color: white;
    background-color: rgb(93, 199, 6);
    border: 1px solid cadetblue;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    
}

.btn2:hover{
    background-color: green;
    transition: background 1s;
}

/*Painel de resultado*/
.result{
    padding: 20px 20px;
    width: 10px;
    margin: auto;
    background-color: grey;
    text-align: center;
    border: 2px solid indigo;
    border-radius: 10px;

}