.body{
    background-color: #c0700763;

}

.painel{
    color: #f5c991;
    padding: 50px 50px;
    width: 120px;
    background-color: #c07007;
    border-radius: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    margin: auto;
    box-shadow: 2px 2px 2px black;


}

.incrementar{
    font-family: monospace;
    padding: 7px 30px;
    background-color: #09ff00;
    border: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
   


}

.incrementar:hover{
    cursor: pointer;
    background-color: #57d368;
    border-radius: 3px;
    border: 0;

    
}

.decrementar{
    font-family: monospace;
    padding: 7px 30px;
    background-color: #ff0000;
    border: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
   


}

.decrementar:hover{
    cursor: pointer;
    background-color: #ec2929bb;
    border-radius: 3px;
    border: 0;

    
}



#btn_reset{
 padding: 7px 30px;
 background-color: #c07007;
 border: 2px;
 border-radius: 3px;
 
 

    
}

#btn_reset:hover{
    cursor: pointer;
    background-color: #f5c991;
}

/** Alinhamento dos botões**/
.central{
    text-align: center;
}

h1{
    text-align: center;
    color: #c07007;
    
}

h1:hover{
    cursor:default;
    color: goldenrod;
}